@content-wight: 900px;
@background: #efefef url('../img/body.jpg') repeat top left;
@border: 1px solid #b7b7b7;

body {
    color: #777;
    background: @background;
}

#login {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: @background;

    .login-content {
        border-radius: 15px;
        padding: 25px;
        width: 300px;
        height: 200px;
        background: white;
        text-align: center;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border: @border;

        div {
            margin-top: 12%;
        }

        .pure-button {
            width: 80%;
            margin-bottom: 2px;
        }
    }
}

.content {

    #header {
        background-color: whitesmoke;
        position: fixed;
        top: 0;
        width: 100%;
        border-bottom: @border;;

        .pure-menu {
            padding: .5em 10px .5em 10px;
            opacity: 0.95;
            width: @content-wight;
            margin: auto;

            .pure-menu-open {
                background: none;
            }

            li ul {
                display: none;
                top: 36px;
            }

            li:hover ul {
                display: block;
                position: absolute;
            }

            li:hover>a {
                background: #E5E5E5;
            }

            .profile {
                float: right;
                margin-right: 15px;

                ul {
                    left: auto;
                    right: 0;
                }
            }
        }
    }

    #footer {
        background: #111;
        color: #666;
        text-align: center;
        padding: 1em;
        font-size: 80%;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0.9;
    }

    #content {
        border-radius: 4px;
        background-color: whitesmoke;
        width: @content-wight;
        margin: 70px auto 70px auto;
        padding: 10px;
        border: @border;

        .wishes-header {
            h2 {
                margin: 0;
                color: black;
            }

            div {
                width: 100%;
                height: 1px;
                margin: auto;

                background: #b7b7b7;
                background: -webkit-gradient(linear, 0 0, 100% 0, from(whitesmoke), to(whitesmoke), color-stop(50%, #b7b7b7));
            }

            margin-bottom: 20px;
        }

        .items {
            .main1 {
                margin: 0;
                padding: 0;

                .main2 {
                    margin: 0;
                    padding: 0;

                    .left {
                        float: left;
                        width: 60px;
                        margin: 0 0 0 4px;
                        padding: 0;
                        font-size: 80%;
                        .lock {
                            border: @border;
                            border-radius: 5px;
                            height: 54px;
                            width: 54px;
                            text-align: center;
                            font-size: 3em;
                            padding-top: 14px;
                            background-color: #E6E6E6;
                        }
                    }

                    .right {
                        float: right;
                        width: 115px;
                        margin: 0;
                        padding: 0;

                        button {
                            width: 112px;
                            margin-bottom: 4px;
                        }
                        padding: 0;
                        vertical-align: top;
                    }

                    .middle {
                        margin: 0 126px 0 73px;


                        .column-in {
                            margin: 0;

                            h2 {
                                margin-top: 0;
                                a {
                                    color: black;
                                    text-transform: uppercase;
                                    text-shadow: 0 2px 0px #fff;
                                    text-decoration: none;
                                }
                            }
                            p {
                                min-height: 10px;
                            }
                            padding-bottom: 20px;
                            div {
                                width: 300px;
                                height: 1px;
                                margin: auto;

                                background: #b7b7b7;
                                background: -webkit-gradient(linear, 0 0, 100% 0, from(whitesmoke), to(whitesmoke), color-stop(50%, #b7b7b7));
                            }
                        }
                    }
                }
            }

            .add {
                span {
                    margin-bottom: 4px;
                }
                input {
                    height: 20px;
                    margin-bottom: 4px;
                    width: 42%;
                }
                input:last-child {
                    width: 13%;
                }

                input, textarea {
                    border-radius: 3px;
                    border: @border;
                }
                textarea {
                    width: 99%;
                }
            }

            button {
                &.add {
                    width: 100%;
                    font-size: 3em;
                    background-color: whitesmoke;
                    padding: 0;
                    border: 1px solid whitesmoke;

                    &:hover {
                        background-color: whitesmoke;
                        border: @border;
                        background-image: none;
                    }
                    &:focus {
                        outline: 0;
                    }
                }
            }


            .cleaner {
                clear: both;
                height: 1px;
                font-size: 1px;
                border: none;
                margin: 0;
                padding: 0;
                background: transparent;
            }

        }

//        .wish {
//            margin-bottom: 15px;
//            overflow: hidden;
//            .lock {
//                border: 1px solid grey;
//                border-radius: 9px;
//                height: 58px;
//                width: 54px;
//                text-align: center;
//                font-size: 3em;
//                padding-top: 8px;
//                float: left;
//                margin-right: 15px;
//                color: whitesmoke;
//
//                background: #1e69de; /* Old browsers */
//                background: -moz-linear-gradient(top, #1e69de 0%, #3690f0 34%, #54a3ee 71%, #6db3f2 100%); /* FF3.6+ */
//                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e69de), color-stop(34%, #3690f0), color-stop(71%, #54a3ee), color-stop(100%, #6db3f2)); /* Chrome,Safari4+ */
//                background: -webkit-linear-gradient(top, #1e69de 0%, #3690f0 34%, #54a3ee 71%, #6db3f2 100%); /* Chrome10+,Safari5.1+ */
//                background: -o-linear-gradient(top, #1e69de 0%, #3690f0 34%, #54a3ee 71%, #6db3f2 100%); /* Opera 11.10+ */
//                background: -ms-linear-gradient(top, #1e69de 0%, #3690f0 34%, #54a3ee 71%, #6db3f2 100%); /* IE10+ */
//                background: linear-gradient(to bottom, #1e69de 0%, #3690f0 34%, #54a3ee 71%, #6db3f2 100%); /* W3C */
//                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e69de', endColorstr='#6db3f2', GradientType=0); /* IE6-9 */
//            }
//        }
//
//        .wish-content {
//            float: left;
//            width: 700px;
//
//            h2 {
//                margin-top: 0;
//            }
//
//            .wish-actions {
//                padding: 8px;
//                background: #F4F4F4;
//            }
//
//        }
    }
}

// PURE STYLING

.pure-button-xsmall {
    font-size: 70%;
}

.pure-button-small {
    font-size: 85%;
}

.pure-button-large {
    font-size: 110%;
}

.pure-button-xlarge {
    font-size: 125%;
}

.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.pure-button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.pure-button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.pure-button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}


