<div class="wishlists" ng-controller="wlCollectionCtrl as wlCollection" ng-init="showForm = false">
    <h2>My wishlists</h2>
    <div class="sep"></div>

    <ul ng-init="wlCollection.getWishlistCollection()">
        <li ng-repeat="wl in wlCollection.list">
            <a href="#/wl/{{ user.id }}/{{ wl.$id }}">{{ wl.name }} - {{ wl.description }} - {{ wl.creationDate | date }}</a>
            <button ng-click="wlCollection.removeWishlist(wl.$id)">x</button>
        </li>
    </ul>

    <div ng-show="showForm" ng-init="wishlist={}">
        <input ng-model="wishlist.name" placeholder="name" required/> <br>
        <textarea rows="4" cols="50" ng-model="wishlist.description"></textarea><br>
        <button ng-click="wlCollection.newWishlist(wishlist)">Add new Wishlist</button>
    </div>

    <a class="pure-button" ng-click="showForm = !showForm">WL ADD</a>

<br>
<br>
<br>
<br>

    <div class="main1">
        <div class="main2">
            <div class="right">
                <div class="column-in">
                    <div class="column-in">
                        Test left<br>
                        Test left<br>
                        Test left
                    </div>
                </div>
            </div>

            <div class="middle">
                <div class="column-in">
                    <h3>
                        Middle
                    </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                </div>
            </div>
            <div class="cleaner">&nbsp;</div>
        </div>
    </div>


</div>
