<div ng-controller="wishlistCtrl as wl">
<h2>Wishes</h2>

    Name: {{ wl.wishlist.name }} <br>
    Description: {{ wl.wishlist.description }} <br>

    Items: <br>
    <ul>
        <li ng-repeat="item in wl.wishlist.items">
            <a ng-href="{{item.url}}" target="_blank">{{ item.name }}</a> - {{ item.description }} - {{ item.price }} -
            <input type="checkbox" ng-model="item.reserved">
            <button ng-click="wl.removeItem(item)" ng-show="wl.userId == user.id">x</button>
        </li>
    </ul>
    <br>

    <div ng-show="wl.userId == user.id">
        Add new item:<br>
        <input ng-model="wl.newItem.name" placeholder="name">
        <input ng-model="wl.newItem.description" placeholder="description"><br>
        <input ng-model="wl.newItem.url" placeholder="url">
        <input type="number" ng-model="wl.newItem.price" placeholder="price">
        <br>
        <button ng-click="wl.addNewItem(newItem)">Add item</button>
    </div>

</div>
